.todoControlButton{
    margin-left: 10px;
    background-image: none;
    background-color:transparent;
    box-shadow:0 0 black;
    border-radius:2.5px;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
}
.todoControlButton:hover{
    border-radius:5px;
    box-shadow:0 0 2.5px 0 #909090;
}
 
.TodoWrapper{
    border-radius: 5px;
    margin:5px;
    padding: 15px;
    box-shadow: 0px 0px 1.75px 0px;
    background-color: white;
}

.TodoText{
   color:#303030;
   font-size:large;
   font-weight: 400;
}

.TodoCounter{
    padding-left: 15.8px;
    padding-right: 15.8px;
    padding-top:8px;
    padding-bottom:8px;
    background-color:white;
    border-radius:100px;
    color: #505050;
}

.ToDoTop{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:10px;
    padding-right:10px;
    color: white;
}

.ToDoBackground{
    background-color: #303030;
}

.ToDoContainer{
    margin-top: 5px;
}

.ToDoControlArea{
    margin-left: 5px;
}

.ToDoProgressContainer{
    margin-top: 10px;
    margin-right: 0px;
}

.TodoProgressBarText{
    margin-bottom:2.5px;
   
}


