.todoControlButton{
    margin-left: 10px;
}

 
.TodoWrapper{
    border-radius: 5px;
    margin:5px;
    padding: 15px;
    box-shadow: 0px 0px 1.75px 0px;
    background-color: white;
}

.TodoText{
   color:#303030;
   font-size:large;
   font-weight: 400;
}

.TodoCounter{
    margin-right:15px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top:2px;
    padding-bottom: 3px;
    border-radius:100px;
    color: #505050;
    border:1px solid #505050;
}

.ToDoTop{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:10px;
    padding-right:10px;

    color: white;
    background-color: #303030;
}

.ToDoBackground{
    background-color: #303030;
}

.ToDoContainer{
    margin-top: 5px;
}

.ToDoControlArea{
    margin-left: 5px;
}

.ToDoProgressContainer{
    margin-top: 10px;
    margin-right: 0px;
}

.TodoProgressBarText{
    margin-bottom:2.5px;
   
}

